#digits{
    width: 33%;
    height: 500px;
    border: 0.5em black solid;    
    margin: 0em 1em 1em 1em;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1em;    
}

#digits>button{
    background-color: cyan;     
}

#display{
    border: 0.3em solid;
    border-bottom: 0em;    
    margin:1em 1em 0em 0.5em;    
    display: flex;
    font-size: 30px;
    height: 40px;
    vertical-align: bottom;
    position: relative;    
    width: 33%;
    z-index: 0;  
    background-color:yellowgreen; 
}

#display > span{
    position: relative;
    right:-100px;    
    color:white;
}